h1{text-align: center;
    border-style: double;
    border-width: 15px;
    }
    
    #vs1{
        margin-left: 25%;
        width: 50%;
    }
    #VS2{margin-left: 1%;
        width: 50%;
    }
        
        h2{text-align: center;
        color: darkorange;
    }
body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease;
}

.container {
    text-align: center;
    padding: 50px;
}

/* Modo Escuro */
body.dark-mode {
    background-color: #121212;
    color: white;
}

button {
    background-color: #6200ee;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #3700b3;
}