body {
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
    background-color: #ffffff; /*Cor de fundo do tema claro */
    color: #000000; /* Cor do texto do tema claro */
}

.container {
    text-align: center;
    padding: 50px;
}

.dark-theme {
    background-color: #333333; /* Cor de fundo do tema escuro */
    color: #ffffff; /* Cor do texto do tema escuro */
}
